<div class="page">

  <% if current_user.id == @conversation.originator_id %>
    <h1>Conversation with <%= find_recipient_name(@conversation) %></h1>
  <% else %>
    <h1>Conversation with <%= find_originator_name(@conversation) %></h1>
  <% end %>

  <% if @conversation.messages.exists? %>
    <table>
      <tr>
        <td>Sender</td>
        <td>Message</td>
      </tr>
      <% @conversation.messages.each do |message| %>
        <tr>
          <td><%= find_sender_name(message) %></td>
          <td><%= message.content %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <div class="new-message-link"><%= link_to "Send New Message", new_conversation_message_path(@conversation), remote: true %></div>
  <div id='append-message'></div>
</div>
