<%= form_for @user do |f| %>
<p>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</p>

<p>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</p>

<p>
  <%= f.label :description %>
  <%= f.text_area :description %>
</p>

<p>
  <%= f.label :email %>
  <%= f.text_field :email %>
</p>

<p>
  <%= f.label :genres %>
  <%= f.text_field :genres %>
</p>

<p>
  <%= f.label :username unless logged_in? %>
  <%= f.text_field :username unless logged_in? %>
</p>

<p>
  <%= f.label :password unless logged_in? %>
  <%= f.password_field :password, type: "password" unless logged_in? %>
</p>

<p>
  <%= f.label :image, 'Profile Picture' %>
  <%= f.file_field :image %>
</p>

<p>
  <%= f.label :soundcloud_url, 'Soundcloud Url'  %>
  <%= f.text_field :soundcloud_url  %>
</p>

<p>
  <%= f.submit "Submit" %>
</p>
<% end %>
