<h1>Register</h1>

<%= form_for @user do |f| %>
	First Name: <%= f.text_field :first_name %>
	Last Name: <%= f.text_field :last_name %>
	A few words about yourself: <%= f.text_area :description %>
	Email: <%= f.text_field :email %>
	Music Style: <%= f.text_field :genres %>
	Username: <%= f.text_field :username %>
	Password: <%= f.text_field :password, type: "password" %>
	<%= f.submit "Register" %>
<% end %> 

<p>Login</p>
<%= form_for @user, url: login_path do |f| %>
	Username: <%= f.text_field :username %>
	Password: <%= f.text_field :password, type: "password" %>
	<%= f.submit "Login" %>
<% end %> 
