<div>
	<% if flash[:notice] %>
	   <%= flash[:notice] %>
	 <% end %>
</div>

<h2><%= current_user.first_name %></h2>

<% if current_user == @user %>
	<%= link_to "Edit Profile", edit_user_path(current_user) %><br>
	<h5>Here are your upcoming studio bookings:</h5>
	<ul>
		<% @user.future_bookings.each do |booking| %>
			<%= render partial: "bookings/show", locals: {booking: booking } %>
		<% end %>
	</ul>
	<h5>Here are your past studio bookings:</h5>
	<ul>
		<% @user.past_bookings.each do |booking| %>
			<%= render partial: "bookings/show", locals: {booking: booking } %>
		<% end %>
	</ul>
<% end %>

<h5>Preferred Music Styles: <%=@user.genres %></h5>
<h5>Average Rating: <%=@user.average_rating  %> </h5>

<h5>Your Studio Listings:</h5>
<% if @user.has_studios %>
	<% @user.studios.each do |studio| %>
		<%= render partial: "studios/studio", locals: {studio: studio } %>
	<% end %>
<% end %>


<h5><%=@user.first_name %>'s reviews of Other Users: </h5>

<% @user.written_reviews.each do |review| %>
	<%= render partial: "reviews/review", locals: {review: review } %>
<% end %>

<h5>Reviews of <%= @user.first_name %> </h5>

<% @user.reviews.each do |review| %>
	<%= render partial: "reviews/review", locals: {review: review } %>
<% end %>






