<h1>SHOWIN DA USER</h1>


<% if current_user == @user %>
	<p>Hello <%= @user.first_name %>!</p>
	<p>Here are your upcoming studio bookings:</p>
	<ul>
		<% @user.future_bookings.each do |booking| %>
			<%= render partial: "bookings/show", locals: {booking: booking } %>
		<% end %>
	</ul>

	<p>Here are your past studio bookings:</p>
	<ul>
		<% @user.past_bookings.each do |booking| %>
			<%= render partial: "bookings/show", locals: {booking: booking } %>
		<% end %>
	</ul>
<% end %>
<p>Preferred Music Styles: <%=@user.genres %></p>
<p>Average Rating: <%=@user.average_rating  %> </p>

<% if @user.has_studios %>
	<% @user.studios.each do |studio| %>
		<%= render partial: "studios/studio", locals: {studio: studio } %>
	<% end %>
<% end %>



<h3><%=@user.username %>'s reviews of Other Users: </h3>

<% @user.written_reviews.each do |review| %>
	<%= render partial: "reviews/review", locals: {review: review } %>
<% end %>

<h3>Reviews of <%= @user.username %> </h3>

<% @user.reviews.each do |review| %>
	<%= render partial: "reviews/review", locals: {review: review } %>
<% end %>






