<script type="text/javascript">
<% if flash[:danger] %>
  <% flash[:danger].each do |error| %>
  toastr.error("<%= error %>")
  <% end %>
<% elsif flash[:errors] %>
  <% flash[:errors].each do |error| %>
    toastr.error("<%= error %>")
  <% end %>
<% end %>
</script>

<div id="tf-home" class="text-center">
    <div class="overlay">
        <div class="content">
            <h1><strong><span class="color">StudioNow</span></strong></h1>
            <p class="lead">We are passionate about <strong>fostering creativity</strong> and <strong>bringing musicians together.</strong></p>
            <div class="form-group">
            <form class="location-search" action="/studios", method: "get">
              <input class="form-control search-input" name="search" type="text" placeholder="Search for a studio by location..." autocomplete="off">
            </form>
            <a href="#listings" class="fa fa-angle-down page-scroll"></a>
          </div>
        </div>
    </div>
</div>

<section id="tf-about">
  <div class="container about">
    <div class="row">
  <div class="col-md-6 border-left route-left">
    <div class="section-title">
    <h3>Are you a musician looking for studio space?</h3>
    <hr>
    <div class="clearfix"></div>
    <div>
      <p>WLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
    </div>
  </div>
</div>
  <div class="col-md-6 route-right">
    <div class="section-title">
      <h3>Do you own a studio you want to list?</h3>
    <hr>
    <div class="clearfix"></div>
  </div>
    <div>
      <p>WLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer t</p>
      <% if current_user %>
        <button class="show-page-button btn tf-btn btn-default">
          <%= link_to 'List Your Studio', new_studio_path, :class => "button-link"  %>
        </button>
      <% else  %>
        <button class="btn tf-btn btn-default">
          <%= link_to 'Register with StudioNow', new_user_path, :class => "button-link" %>
        </button>
      <% end %>
    </div>
  </div>
</div>
</div>
</section>

<section id="tf-team" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title center">
        <h2>Check out <strong>featured studios</strong></h2>
        <div class="line">
          <hr>
        </div>
        <div id="listings" class="owl-carousel owl-theme row">
          <% if @highest_rated_studios && @highest_rated_studios.any? %>
            <% @highest_rated_studios.each do |studio| %>
              <%= render partial: "studios/studio", locals: { studio: studio } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

