<script type="text/javascript">
<% if flash[:danger] %>
  <% flash[:danger].each do |error| %>
  toastr.error("<%= error %>")
  <% end %>
<% elsif flash[:errors] %>
  <% flash[:errors].each do |error| %>
    toastr.error("<%= error %>")
  <% end %>
<% end %>
</script>

<div id="tf-home" class="text-center">
    <div class="overlay">
        <div class="content">
            <h1><strong><span class="color">StudioNow</span></strong></h1>
            <p class="lead"><strong>Fostering Creativity</strong> and <strong>Bringing Musicians Together</strong></p>
            <div class="form-group">
            <form class="location-search" action="/studios", method: "get">
              <input class="form-control search-input" name="search" type="text" placeholder="Search for a studio by location..." autocomplete="off">
            </form>
            <a href="#listings"  class="fa fa-angle-down page-scroll"></a>
          </div>
        </div>
    </div>
</div>

<section id="tf-about">
  <div class="container about">
    <div class="row">
  <div class="col-md-6 border-left route-left">
    <div class="section-title">
    <h3>I'm a musician looking to rent studio space</h3>
    <hr>
    <div class="clearfix"></div>
    <div>
      <p>The creative process of writing music shouldn't include finding a studio space. We take out the guessing game by connecting you with local studio owners looking to share their creative environment.</p>
    </div>
  </div>
</div>
  <div class="col-md-6 route-right">
    <div class="section-title">
      <h3>I have a studio to list</h3>
    <hr>
    <div class="clearfix"></div>
  </div>
    <div>
      <p>Let your studio start producing revenue for you by listing and setting available times that work with your schedule. Connect with artists before bookings and approve reviewed and rated musicians to rent your space.</p>
      <% if current_user %>
        <button class="show-page-button btn tf-btn btn-default">
          <%= link_to 'List Your Studio', new_studio_path, :class => "button-link", :id => 'no-hover'  %>
        </button>
      <% else  %>
        <button class="btn tf-btn btn-default">
          <%= link_to 'Register with StudioNow', new_user_path, :class => "button-link", :id => 'no-hover'  %>
        </button>
      <% end %>
    </div>
  </div>
</div>
</div>
</section>

<section id="tf-team" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title center">
        <h2>Check out our <strong>featured studios</strong></h2>
        <div class="line">
          <hr>
        </div>
        <div id="listings" class="owl-carousel owl-theme row">
          <% if @highest_rated_studios && @highest_rated_studios.any? %>
            <% @highest_rated_studios.each do |studio| %>
              <%= render partial: "studios/studio", locals: { studio: studio } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

