<% if flash[:danger] %>
  <%= flash[:danger] %>
<% end %>

<div id="tf-home" class="text-center">
    <div class="overlay">
        <div class="content">
            <h1><strong><span class="color">StudioNow</span></strong></h1>
            <p class="lead">We are passionate about <strong>fostering creativity</strong> and <strong>bringing musicians together.</strong></p>
            <div class="form-group">
            <form class="location-search" action="/studios", method: "get">
              <input class="form-control search-input" name="search" type="text" placeholder="Search for a studio...">
            </form>
          </div>
            <a href="#location-search" class="fa fa-angle-down page-scroll"></a>
        </div>
    </div>
</div>

<section class= "homepage-routing">
  <div class="col-md-6 homepage-route route-left">
    <h3>Are you a musician looking for studio space?</h3>
    <div>
      <%= image_tag "#" %>
    </div>
    <div>
      <p>WLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
    </div>
  </div>
  <div class="col-md-6 route-right">
      <h3>Do you own a studio you want to list?</h3>
    <div>
      <%= image_tag "#" %>
    </div>
    <div>
      <p>WLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer t</p>
      <% if current_user %>
        <%= link_to 'List Your Studio', new_studio_path %>
      <% else  %>
        <%= link_to 'List Your Studio', new_user_path %>
      <% end %>
    </div>
  </div>
</section>

<h3>Featured Studios</h3>
<% if @studios && @studios.any? %>
  <% @studios.each do |studio| %>
    <%= render partial: "studios/studio", locals: { studio: studio } %>
  <% end %>
<% end %>
