<p><%= studio.name %></p>
<% if studio.images.any? %>
  <%= image_tag studio.images[0].media.url(:standard)  %>
<% end %>
<p><%= studio.description %></p>
<p><%= studio.price %></p>
<p><%= studio.id %></p>

