<h1>This is the studio show page! Look at it!</h1>

<h3><%= @studio.name %></h3>

<p><%= @studio.address %><br>
<%= @studio.city %>, <%= @studio.state %>  <%= @studio.zip_code %></p>

<p><%= @studio.description %></p>

<p><%= @studio.price %></p>

<p><%= @studio.website %></p>
