<div id="tf-search" class="text-center search-results">
  <div class="overlay">
    <div class="content">
      <h1>Upload photos for <strong><span class="color"><%= @studio.name %></span></strong></strong></h1>
        <%= link_to "Back to Studio", studio_path(@studio) %>
    </div>
  </div>
</div>

<%= form_for([@studio, @image], multipart: true) do |f| %>
  <div class="field">
    <%= f.file_field :media %>
  </div>
  <div class="actions">
    <%= f.submit 'Upload your media file!' %>
  </div>
<% end %>
