<!DOCTYPE html>
<html>
<head>
  <title>StudioNow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <script>
  moment().format();
  </script>
</head>
<body>

	<% if logged_in? %>
		 <p>Welcome <%= current_user.username %> </p>
		<p> <%= link_to("Logout", logout_path) %></p>
	<% else %>
		<p> <%= link_to("Register", new_user_path) %></p>
		<p> <%= link_to("Login", new_user_path) %></p>
	<% end %>
<%= yield %>

</body>

</html>
