<!DOCTYPE html>
<html>
<head>
  <title>StudioNow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <script>
  moment().format();
  </script>
</head>
<body>

  <nav class="clearfix mar-b-1">
    <ul class="no-bullets no-margin pad-l-1 left">
      <% if logged_in? %>
        <li class="pipe-separate t-light-blue left">Welcome <%= link_to current_user.username, user_path(current_user) %></li>
        <li class="pipe-separate t-light-blue left"><%= link_to("Logout", logout_path) %></li>
      <% else %>
        <li class="pipe-separate t-light-blue left"><%= link_to("Register", new_user_path) %></li>
        <li class="pipe-separate t-light-blue left"><%= link_to("Login", new_user_path) %></li>
      <% end %>
    </ul>
  </nav>

  <%= yield %>

</body>

</html>
