<!DOCTYPE html>
<html>
<head>
  <title>StudioNow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <script>
  moment().format();
  </script>
</head>
<body>

  <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <% if logged_in? %>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><%= link_to("StudioNow", root_path, :class => "navbar-brand") %></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="page-scroll"><%= link_to current_user.username, user_path(current_user) %></li>
            <li class="page-scroll"><%= link_to("Logout", logout_path) %></li>
          </ul>
        </div>
      </div>
    <% else %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand"><%= link_to("StudioNow", root_path, :class => "navbar-brand") %></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="page-scroll"><%= link_to("Register", new_user_path) %></li>
            <li class="page-scroll"><%= link_to("Login", new_user_path, remote: true) %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </nav>
  <div id='login' class="right pad-r-1"></div>

  <%= yield %>

</body>

</html>
